<div>
  <h3 md-dialog-title>.Jar dependency</h3>
  <hr>
  <mat-dialog-content>
      <p>
          &lt;dependency&gt;<br>
          &lt;groupId&gt; com.stackroute &lt;/groupId&gt;<br>
          &lt;artifactId&gt; agent &lt;/artifactId&gt;<br>
          &lt;version&gt; 0.0.1-SNAPSHOT &lt;/version&gt;<br>
          &lt;/dependency&gt;<br>
</p> 
    <hr>
  </mat-dialog-content>
<mat-dialog-actions>
  <hr>
    <button mat-raised-button (click)="onCloseCancel()">CANCEL</button>
  </mat-dialog-actions>
 