<!-- <app-header></app-header> -->
<div class="container">
<div class="mini-container" style="width:55%;">
    <h1 class="firstline"></h1>
    <h3 class="secondline"></h3>
</div>

<div class="services">
    <div class="service-box">
            <img src="src/assets/img/health.png" alt="Furnished" height="90" width="90">
            <h3>Health</h3>
            <!-- <h2>Fully Furnished Rooms</h2> -->
            <!-- <hr id="one"> -->
            <!-- <p>AC, Bed, Table, Chair, Book Shelf, Almirah, Mattress, Study Lamp</p> -->
    </div>

    <div class="service-box">
            <img src="src/assets/img/cpuUsage.png" alt="Common room" id="comroom" height="90" width="90">
            <h3>CPU Usage</h3>    
                <!-- <h2>Common Room</h2> -->
                <!-- <hr id="two"> -->
                <!-- <p>Library, Computer, Board Games, Table Tennis, foosball</p> -->
    </div>

    <div class="service-box">
            <img src="src/assets/img/temp.png" id="laundary" alt="Laundary and house-keeping" height="90" width="90">
            <h3>CPU Temperature</h3>   
            <!-- <h2>Laundary and Housekeeping</h2> -->
                <!-- <hr id="three"> -->
                <!-- <p>Weekly Thrice Laundry (Washed & Ironed)</p> -->
                <!-- <p>Daily Housekeeping (Room & wash Room)</p> -->
    </div>

    <div class="service-box">
            <img src="src/assets/img/cores.png" id="mess" alt="Mess" height="90" width="90">
            <h3>CPU Cores</h3>    
            <!-- <h2>Mess and Kitchen</h2> -->
                <!-- <hr id="four"> -->
                <!-- <p>North Indian and South Indian meals</p> -->
                <!-- <p>Wednessday and Sunday Special</p> -->
    </div>



    <div class="service-box">
        <img src="src/assets/img/diskspace.png" alt="Common room" id="comroom" height="90" width="90">
        <h3>Disk Space</h3>
        <!-- <h2>Common Room</h2> -->
            <!-- <hr id="two"> -->
            <!-- <p>Library, Computer, Board Games, Table Tennis, foosball</p> -->
    </div>

    <div class="service-box">
            <img src="src/assets/img/threads.png" alt="Furnished" height="90" width="90">
            <h3>Health</h3>
            <!-- <h2>Fully Furnished Rooms</h2> -->
            <!-- <hr id="one"> -->
            <!-- <p>AC, Bed, Table, Chair, Book Shelf, Almirah, Mattress, Study Lamp</p> -->
    </div>

    <div class="service-box">
        <img src="src/assets/img/memory1.png" alt="Furnished" height="90" width="90">
        <h3>Memory</h3>    
        <!-- <h2>Fully Furnished Rooms</h2> -->
            <!-- <hr id="one"> -->
            <!-- <p>AC, Bed, Table, Chair, Book Shelf, Almirah, Mattress, Study Lamp</p> -->
    </div>

    <div class="service-box">
            <img src="src/assets/img/http.png" id="laundary" alt="Laundary and house-keeping" height="90" width="90">
            <h3>Request Count</h3>    
            <!-- <h2>Laundary and Housekeeping</h2> -->
                <!-- <hr id="three"> -->
                <!-- <p>Weekly Thrice Laundry (Washed & Ironed)</p> -->
                <!-- <p>Daily Housekeeping (Room & wash Room)</p> -->
    </div>

    <div class="service-box">
            <img src="src/assets/img/Network.png" id="mess" alt="Mess" height="90" width="90">
            <h3>Network Utilization</h3>    
            <!-- <h2>Mess and Kitchen</h2> -->
                <!-- <hr id="four"> -->
                <!-- <p>North Indian and South Indian meals</p> -->
                <!-- <p>Wednessday and Sunday Special</p> -->
    </div> 
    

</div> 

</div>
<br>


<!-- <mat-grid-list cols=3 rowHeight="8:1">
    <mat-grid-tile><i class="fa fa-line-chart">
    CPU usage</i></mat-grid-tile>
    <mat-grid-tile><i class="fa fa-snowflake-o">
    CPU temperature</i></mat-grid-tile>
    <mat-grid-tile><i class="fa fa-area-chart">
    CPU cores</i></mat-grid-tile>
    <mat-grid-tile><i class="fa fa-tachometer">
    Network Utilization</i></mat-grid-tile>
    <mat-grid-tile><i class="fa fa-heartbeat">
    Health</i></mat-grid-tile>
    <mat-grid-tile><i class="fa fa-lightbulb-o">
    Memory</i></mat-grid-tile>
    <mat-grid-tile><i class="fa fa-pie-chart">
    Disk Space</i></mat-grid-tile>
    <mat-grid-tile><i class="fa fa-bar-chart">
    No. of concurrent or processed threads</i></mat-grid-tile>
    <mat-grid-tile><i class="fa fa-calculator">
    Count of requests</i></mat-grid-tile>
</mat-grid-list> -->
<app-footer></app-footer>


