<div class="component-style table-component">
  <div class="component-style" style="margin-left:30px">
    <div class="component-tag">
      <h2>DOCKER METRICS</h2>
    </div>
    <div style="width:100%; border-right: 10px;border-left: 10px">
      <div *ngFor="let c of res1 | slice:0:1">
        <div *ngFor="let d of c.series">
          <table>
            <th class="head" *ngFor="let e of d.columns | slice:2:4">
              {{e}}
            </th>
            <th class="head" *ngFor="let e of d.columns | slice:5:7">
              {{e}}
            </th>
            <th class="head" *ngFor="let e of d.columns | slice:8:14">
              {{e}}
            </th>
            <tr class="array" *ngFor="let f of d.values ">
              <td class="results_values" *ngFor="let s of f | slice:2:4">
                {{s}}
              </td>
              <td class="results_values" *ngFor="let s of f | slice:5:7">
                {{s}}
              </td>
              <td class="results_values" *ngFor="let s of f | slice:8:14">
                {{s}}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>