<div class="container">
    <div style="text-align:center">
        <h1 style="margin-top: 0px;
        padding-top: 10%;color: white;">
          Download Agent
        </h1>
      </div>
      <div style="width: 480px;margin: auto;">
      <mat-tab-group mat-stretch-tabs id="super" class="example-stretched-tabs mat-elevation-z4" style="background-color:whitesmoke">
        <mat-tab label="WAR">
          <mat-card class="card1">
            <div class="content1" style="margin: 0px">
              <mat-card-content style="margin: auto;margin-bottom: 16px;">
                <button mat-raised-button (click)="openDialog()">WAR Dependency</button>
                <br>
                <br>
                <button type="submit" class="mat-flat-button mat-primary" style="margin-right: 5px;">Download</button>
                <button type="submit" class="mat-flat-button mat-primary" routerLink="/warinfo" style="margin-left: 5px;">Info</button>
              </mat-card-content>
            </div>
          </mat-card>
        </mat-tab>
      
        <mat-tab label="JAR">
          <mat-card class="card2">
            <div class="content2">
              <mat-card-content>
                <button mat-raised-button (click)="openDialog1()">JAR Dependency</button>
                <br>
                <br>
                <button type="submit" class="mat-flat-button mat-primary" style="margin-right: 5px;">Download</button>
                <button type="submit" class="mat-flat-button mat-primary" routerLink="/jarinfo" style="margin-left: 5px;">Info</button>
              </mat-card-content>
            </div>
          </mat-card>
        </mat-tab>
      
        <mat-tab label="DOCKER">
          <mat-card class="card3">
            <div class="content3" style="margin: 0px;">
              <mat-card-content>
                <button mat-raised-button (click)="openDialog3()">DOCKER Dependency</button>
                <br>
                <br>
                <button type="submit" class="mat-flat-button mat-primary" style="margin-right: 5px;">Download</button>
                <button type="submit" class="mat-flat-button mat-primary" routerLink="/dockerinfo" style="margin-left: 5px;">Info</button>
              </mat-card-content>
            </div>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
      </div>
      <div class="application">
        <!-- <button type="submit" class="mat-flat-button mat-primary" [routerLink]="['../','YourApplications']"> Your Applications</button> -->
        <!-- <button mat-button type="submit" class="mat-flat-button mat-primary" routerLink="/appregister">
          Add Application</button> -->
      </div>
      <router-outlet></router-outlet>
</div>
