/* .mat-card-actions .mat-button, .mat-card-actions .mat-raised-button {
    width: 150px;
    margin: auto;
}

.head{
    color: white;
}

.container{
    background: url('../../../assets/img/back1.png'); */
    /* overflow: scroll; */
    /* height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.container-wrap{
    background: url('../../../assets/img/back1.png'); */
    /* overflow: scroll; */
    /* display: flex;
    height: 85vh;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
}
.content{
    bottom: 10px;
    right: 10px;
    position: fixed;
} */
.container{
    background: url('../../../assets/img/back1.png');
    /* overflow: scroll; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: white;
}

h4{
    color: antiquewhite;
}

.head{
    color: white;
}

.container-wrap{
    background: url('../../../assets/img/back1.png');
    /* overflow: scroll; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: 85vh;
}