<div class="topnav"> 
        <input type="text" [(ngModel)]="date" placeholder="2018-12-04">
        <input type="text" [(ngModel)]="date1" placeholder="2018-12-04">
        <input type="text" [(ngModel)]="from" placeholder="01:15">
        <input type="text" [(ngModel)]="to" placeholder="01:15">
        <input type="text" [(ngModel)]="metric_name" placeholder="metric-name">
         <button (click)="displaym()">Go</button>
        <!--<button (click)="showWishlist()">WishList</button> -->
        <!-- <app-whishlist #mov1></app-whishlist>
        <app-show-movie [movie1]="movie" #mov></app-show-movie> -->
   
        <!-- <canvas baseChart width="2" height="1"
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [colors]="barChartColors"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"
                    (chartHover)="barHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
                  </div> -->

                  <nav>
                        <a routerLink = "/network-stat" routerLinkActive="active"></a>
                        <a routerLink = "/thread-list-stat" routerLinkActive="active"></a>
                        <a routerLink = "/cpuusage-stat" routerLinkActive="active"></a>
                        <a routerLink = "/cputemp-stat" routerLinkActive="active"></a>
                        <a routerLink = "/memory-stat" routerLinkActive="active"></a>
                        <a routerLink = "/http-stat" routerLinkActive="active"></a>
                        <a routerLink = "/cpucores-stat" routerLinkActive="active"></a>
                        <a routerLink = "/health-stat" routerLinkActive="active"></a>
                        <a routerLink = "/disk_utilization-stat" routerLinkActive="active"></a>
                  </nav>
                  <router-outlet></router-outlet>