 app-bar-chart {
       

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
 }td, th {
    border: 1px solid black
 ;
    text-align: left;
    padding: 8px;
 }tr:nth-child(even) {
    background-color: #dddddd
 ;
 text-align: left;
 padding: 8px;
 }
       
       #chart {
           height: inherit;
           width: inherit; 

           .docker{
             fill:green;
           }
  
          //  @mixin clearfix($docker) {

          //   @if $docker == 0 {
              
          //     .docker {
          //     fill: blue; }
          //   } @else {
          //     $docker : 3.5e+11;
          //     .docker{
          //     fill: green;}
          //   }
             
           //}
           .metric {
               fill:orange;   
                        
           }
          
           .metric:hover {
               fill: lightcoral;
           }
          
           .metric1 {
             fill :brown;
           }

          //  .docker {
          //    fill: blue;
          //  }
           .axis--x path {
               display: none;
           }
       }
  }

/* body {
    font: 10px sans-serif;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .x.axis path {
    display: none;
  }
  
  .bar {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
  
  .overlay {
    fill: rgba(0,0,0,0.1);
    pointer-events: all;
  }
  
  .focus bar {
    fill: none;
    stroke: steelblue;
  } */