table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 25%;
   
 }td, th {
    border: 1px solid green;
 ;
    text-align: left;
    padding: 8px;
 }tr:nth-child(even) {
    background-color: #dddddd
 ;
 fill: green;
 text-align: left;
 padding: 8px;
 }
 .head,.results_values,h2{
     color:green;
 }