div{
  background-color: white;
}
 label{
   color: violet;
   font-family: sans-serif
 }      

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
 }td, th {
    border: 1px solid black
 ;
    text-align: left;
    padding: 8px;
 }tr:nth-child(even) {
    background-color: #dddddd
 ;
 text-align: left;
 padding: 8px;
 }
 p{
  font-family: cursive;
  font-size: 14px;
  /* font-display: bold; */
}
canvas{

  width:1000px !important;
  height:600px !important;

}
       
       