.main{
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}
.routerclass{
    flex: 1 1 auto;
    position: relative;/* need this to position inner content */
    overflow-y: auto;
    scroll-behavior: smooth;
    /* background: url("../assets/img/2Xy731544024036.png");
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    color: black;
    background-position: left;
    background-size: contain; */
}
.header{
    flex: 0 0 auto;
    background-color:rgb(44, 40, 40);
}
.footer{
  flex: 0 0 auto;
  background-color:rgb(44, 40, 40);
}