.application-card{
    background: rgb(111,111,111,.5);
    width: auto;
    min-width: 30vw;
    margin: 4% 0%;
}
.jar-image {
    background-image: url('../../../assets/img/jar.png');
    background-size: cover;
}
.war-image {
    background-image: url('../../../assets/img/war.png');
    background-size: cover;
}
.docker-image {
    background-image: url('../../../assets/img/docker.png');
    background-size: cover;
}
.node-image {
    background-image: url('../../../assets/img/nodejs.png');
    background-size: cover;
}

.sample-form{
    display: flex;
    flex-direction: row;
}

.sampling{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    margin: 2%;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

/* .mat-card-actions .mat-button:first-child, .mat-card-actions .mat-raised-button:first-child {
    margin: auto;
    margin-bottom: 2%;
} */

.mat-card-title {
    color: lightcyan;
    font-weight: 200%;
}

.mat-card-subtitle {
    color: azure;
}

input{
    width: 80%;
}

.mat-form-field{
    width: 80%;
}

.mat-card {
    padding: 1%;
} 

.mat-raised-button{
    /* margin: auto;
    margin-bottom: 2%; */
    margin: 2%!important;
    width: 150px;
}
.view{
    display: flex;
    flex-direction: column;    
}
*{
    text-decoration-color: antiquewhite;
}
.mat-input-underline {
    background-color: white;    /* replace this color with your accent color hex code */
}